* {

  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Work Sans', sans-serif;

}



/* banner container styles */

.banner-container {
  background-image: url(/images/gradient3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.banner-content {
  width: 50%;
  text-align: right;
  padding: 0 120px;

}

.banner-top-content {
  font-weight: 700px;
  font-size: 40px;

}

.banner-content button {
  background-color: tomato;
  border: none;
  text-align: center;
  color: #fff;
  padding: 10px;
}

/* intro container */

.intro-container {
  display: flex;
  align-items: center;
  padding: 50px 0;
  width: 80%;
  margin: auto;
}

.intro-content,
.intro-img-container {
  width: 50%;
}

.intro-img-container img {
  width: 100%;
  border-radius: 50%;
  width: 400px;
  height: 400px
}

.intro-content {
  padding: 0 50px;
}

.intro-content ul {
  padding: 0;
}

.intro-content li {
  list-style: none;
}

.fa-check {
  color: green;
}

/* section my plan container styles */

.my-plan-container {
  padding-top: 50px;
}

.my-plan-title-content {
  color: #151414;
  font-weight: 700;
  font-size: 40px;
  text-align: center;

}

.my-plan-total-content {

  display: flex;
  text-align: center;
  gap: 86px;
  padding-top: 50px;
  justify-content: center;

}

.my-plan-subtitle-content {
  color: #151414;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  padding-top: 24px;
}

.my-plan-description {
  color: #737272;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  padding-top: 16px;
}

/* bottom image container styles */

.bottom-image-container {

  background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url("../images/watch.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 1140px;
  height: 300px;
  margin: 200px;
  border-radius: 8px;
  align-items: center;


}



.bottom-image-content {
  padding: 60px 30px;
}

.bottom-title-content {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 30px;
}

.bottom-image-content button {
  width: 160px;
  height: 64px;

  font-size: 20px;
  color: #F15B22;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  border-radius: 8px white;
}

/* footer container styles */

.footer-container {
  display: flex;
  background-color: #151414;
  padding: 100px 50px;
  gap: 200px;
  justify-content: center;
  width: 1600px;
  height: 300px;
}

.footer-content-left {
  color: #fff;
}

.footer-icon {
  display: flex;
  gap: 17px;
}

.footer-right-content-title {
  color: #F3F3F3;
}

.footer-right-input-email {
  width: 325px;
  height: 64px;
  color: #F3F3F3;
  padding-left: 20px;
  background-color: #151414;
}

.footer-right-input-submit {
  width: 170.11px;
  height: 64px;
  color: #F15B22;
}